<ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="calculadora">Calculadora</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="calculadora-media">Calculadora Média</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="cadastro-aluno">Cadastro de Aluno</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="apolice">Apolice</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="tela-pai">Tela Pai</a>
    </li>
  </ul>